.aspekto.flex
	&.col
		display: flex
		overflow: auto

		&.c
			justify-content: center
			align-items: center

		&.v
			flex-direction: column

		&.h
			flex-direction: row

	&.row
		&.s
			flex: 0 1 auto

		&.g
			flex: 1 0 auto
