$dark = hsl(0, 0%, 2%)
$darker = hsl(0, 0%, 0%)
$light = hsl(0, 0%, 97%)
$lighter = hsl(0, 0%, 100%)

$primary = hsl(234, 82%, 65%)
$error = hsl(9, 65%, 45%)
$success = hsl(117, 56%, 38%)
$warning = hsl(59, 60%, 64%)